body {
  padding: 0;
  margin: 0;
  font-family: 'Tektur', cursive;
  height: 100vh;
}

main {
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 50px 40px;
  box-sizing: border-box;
  border: 4px solid #000;
}

.player-deck__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.deck {
  display: flex;
  max-width: 400px;
  min-width: 250px;
  width: 100%;
  border: 4px solid #000;
}

.deck.ai .deck__avatar {
  border-left: 4px solid #000;
  border-right: 0;
}

.deck__avatar {
  object-fit: cover;
  width: 100px;
  height: 100px;
  border-right: 4px solid #000;
}

.deck__details {
  position: relative;
  padding-left: 8px;
  width: 100%;
}

.deck__username {
  margin: 8px 0;
}

.deck__health-bar {
  width: 100%;
  height: 18px;
  background-color: #d11616;
  position: absolute;
  border-top: 4px solid #000;
  left: 0;
  bottom: 0;
}

.deck__health-bar__filler {
  width: 100%;
  height: 18px;
  background-color: #4bd618;
}

.deck__health-bar__text {
  position: absolute;
  left: 8px;
  top: 0;
  bottom: 0;
  right: 0;
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
}

.deck__options__list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 6px;
  max-width: 400px;
  min-width: 250px;
  width: 100%;
}

.deck__options__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 72px;
  border: 4px solid #000;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
}

.deck__options__item.selected {
  border-color: #18b310;
}

.deck__options__item:active {
  transform: scale(0.9);
}

.deck__options__item:disabled {
  opacity: 0.8;
  background-color: #f5f5f7;
}

.deck__options__item__value {
  position: absolute;
  visibility: hidden;
}

.deck__start__button {
  border: 4px solid #000;
  background-color: #18b310;
  color: #fff;
  padding: 12px 24px;
  font-size: 18px;
  height: 100%;
  flex-grow: 1;
}

.deck__start__button:active {
  transform: scale(0.9);
}

.deck__start__button:disabled {
  transform: none;
  background-color: #8c8c8c;
}

.battle-space {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.battle-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95px;
  height: 145px;
  cursor: pointer;
  user-select: none;
  perspective: 1000px;
}

.battle-card__inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s ease;
  transform-style: preserve-3d;
  border: 4px solid black;
}

.battle-card .battle-card__inner.rotate {
  transform: rotateY(180deg);
}

.battle-card__front,
.battle-card__back {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.battle-card__front {
  background: rgb(255, 255, 255);
  background: radial-gradient(circle, #ffffff 0%, #f5f5f7 30%, #000000 32%);
  transform: rotateY(180deg);
}

.battle-card__back {
  /* copied from https://superdesigner.co/tools/css-backgrounds */
  background: repeating-linear-gradient(
    45deg,
    #000000 0,
    #000000 10%,
    transparent 0,
    transparent 50%
  );
  background-size: 30px 30px;
  background-color: #ffffff;
  opacity: 1;
}

.battle-card__username {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  margin: 8px 0;
}

.overlay {
  display: flex;
  visibility: hidden;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: hsla(0, 0%, 0%, 0.957);
  width: 100%;
  height: 100%;
}

.overlay.show {
  visibility: visible;
}

.overlay-text {
  color: #fff;
  font-size: 32px;
  font-weight: 700;
}

.modal-card {
  padding: 30px;
  background-color: #f5f5f7;
  border: 4px solid #000;
}

.modal-head {
  border: 4px solid #000;
  padding: 4px 8px;
  text-align: center;
}

.modal-content {
  text-align: center;
}

.modal-input {
  padding: 12px;
  border: 4px solid #000;
  border-top: none;
}
.modal-input input {
  outline: none;
  border: 4px solid #000;
  background-color: #000;
  border-radius: 0;
  color: #fff;
}

.modal-input input:focus {
  border-bottom-color: #4bd618;
}

.btn-start {
  border-radius: 0;
  border: 4px solid #000;
  color: #fff;
  background-color: #000;
  padding: 4px;
  width: 100%;
  text-align: center;
}

.btn-start:hover {
  background-color: #4bd618;
}

.btn-start:active {
  transform: translateY(-2px);
}
